// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#klassen a {border: 2px solid black; 
            float: left; 
            width: 75px; 
            line-height: 75px;
            margin: 0 5px 5px 0;
            font-size: 300%;
            text-align: center;}
